:root {
    --height: 150px;
}

* {
    margin: 0;
    transition: all 0.2s;
}
body {
    position: fixed;
    width: 100%;
}

.back{
    position: fixed;
    left: 1%;
    top: 1%;
    background-color: #FFB000;
    border-radius: 50%;
}

.handContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: calc(100vh - 120px);
    width: 100%;
    background-color: #00422a;
    
}

.selected {
    background-color: #FFB000 !important;
}

.none {
    display: none;
}

.image {
    height: 250px;
    background-color: transparent;
    transition: none;
}

#card1 {
    padding: 5px;
    border-radius: 12px;
}

#card2 {
    padding: 5px;
    border-radius: 12px;
}

#card3 {
    padding: 5px;
    border-radius: 12px;   
}
#card4 {
    padding: 5px;
    border-radius: 12px;
}

#card5 {
    padding: 5px;
    border-radius: 12px;  
}

.control{
    width: 100%;
    background-color: #B22222;
    align-items: center;
}


.rules-container{
    display: flex;
    justify-content: center;
}

.sound{
    width: 100%;
    display: flex;
    justify-content: center;
}

.balance{
    color: rgb(0, 0, 0);
    font-size: 40px;
    background-color: #FFB000;
    padding: 10px;
    border: solid black 3px;
    border-radius: 10px;
}

#betDown > img, #betUp > img {
    width: 50px;
    height: 50px;
    padding: 10px;
    background-color: rgb(226, 215, 207);
    border-radius: 10%;
    transition: all .3s;
    margin: 0%;
}

#betDown > img:hover, #betUp > img:hover {
    background-color: #c9bdb5;
}

#betUp, #betDown{
    width: 70px;
    height: 70px;
}

#betMax {
    height: 70px;
    width: 100px;
    font-size: 20px;
}

.sound > img {
    width: 50px;
    height: 50px;
}

.play, .round2, .continue {
    height: 70px;
    width: 100px;
    font-size: 20px;
}


#winningsDiv {
    position: absolute;
    top: 0;
    justify-content: center;
    z-index: 1;
}

#profitsText {
    color: white;
}

#winningsText {
    color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
    height: 66px;
    font-size: 16px;
    padding: 0;
    text-align: center;
}

input[type="number"]:focus{
    outline: none;
}

input:focus::placeholder {
    color: transparent;
}

.soundIcon {
    padding: 7px;
    border-radius: 20px;
    background-color: #FFB000;
}

.soundIcon:hover {
    background-color: #FFB0009f;
}

.rules {
    position: fixed;
    top: 5%;
    left: calc((100% - 100px - 60%)/2);
    width: 60%;
    height: 70vh;
    padding: 30px 50px 0 50px;
    z-index: 2;
    background-color: rgb(240, 240, 240);
    border: black solid;
    border-width: 5px 5px 5px 5px;
    overflow-y: auto;
}

#autoResetGame {
    accent-color: #000000 !important;
    transition: all .5s;
}

label{
    font-weight: 200;
}

#winningsDiv {
    text-align: center;
    font-family: "Bungee Shade", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.opacity{
    opacity: 0.5;
}

.autoResetGameDiv {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    flex-direction: column;
    background-color:#FFB000;
    border: solid black 3px;
    border-radius: 15px;
}

.scaleOnTouch {transition: all .15s;}
.scaleOnTouch:hover,.scaleOnTouch:active {scale: 1.06;}

.smallScreenDisclaimer {display: none;}


@media (min-width:450px) {
    #betSum {
        width: 100px;
        font-size: 12px;
    }

    .image {
        height: 250px;
    }
    
    #card1 {
        padding: 5px;
        border-radius: 12px;
    }
    
    #card2 {
        padding: 5px;
        border-radius: 12px;
    }
    
    #card3 {
        padding: 5px;
        border-radius: 12px;   
    }
    #card4 {
        padding: 5px;
        border-radius: 12px;
    }
    
    #card5 {
        padding: 5px;
        border-radius: 12px;  
    }
    
    #showBalance {
      font-size: 30px;
      padding: 15px 0 15px 0;
    }
    
    .control {
        height: 120px;
        padding-left: 2%;
        padding-right: 4%;
        gap: 10px;
    }

    #betDown > img, #betUp > img {
        width: 50px;
        height: 50px;
        padding: 10px;
    }

    #betUp, #betDown{
        width: 70px;
        height: 70px;
    }
    
    #betMax {
        height: 70px;
        width: 70px;
        font-size: 20px;
    }

    .sound > img {
        width: 50px;
        height: 50px;
    }

    .play, .round2, .continue {
        height: 70px;
        width: 70px;
        font-size: 18px;
    }

    input[type="number"] {
        height: 66px;
        font-size: 16px;
    }

    .soundIcon {
        padding: 7px;
    }

    .rules {
        top: 5%;
        left: calc((100% - 100px - 60%)/2);
        width: 60%;
        height: 70vh;
        padding: 30px 50px 0 50px;
    }

    .ruleButton {
        width: 70px;
        height: 70px;
        font-size: 20px;
    }

    #autoResetGame {
        width: 25px;
        height: 25px;
    }
    
    .winningsDiv {
        font-size: 40px;
    }

    .autoResetGameDiv {
        height: 50px;
        font-size: 20px;
        padding: 10px 2px 10px 2px;
    }
}

@media (min-width:1200px) {
    #betSum {
        width: 200px;
    }

    #showBalance {
        font-size: 40px;
        padding: 10px 0 10px 2px;
    }
    .ruleButton {
        width: 100px;
        font-size: 20px;
    }
    #betMax {
        width: 100px;
        font-size: 20px;
    }
    .play, .round2, .continue {
        width: 100px;
        font-size: 20px;
    }
    .autoResetGameDiv {
        font-size: x-large;
    }
    .control {
        padding-left: 2%;
        padding-right: 4%;
        gap: 20px;
    }
}

@media (min-width:400px) and (min-height: 700px) {
    .control {
        display: grid;
        grid-template-columns: 2.2fr 0.50fr 0.35fr 0.35fr 0.50fr 0.70fr 1fr 0.8fr 1fr;
        height: 120px;
        justify-content: center;
        padding-left: 2%;
        padding-right: 4%;
        gap: 20px;
    }

    .back{
        height: 55px;
        width: 55px;
    }
}

@media (max-width:400px) and (max-height: 700px) {

    .ssNone {
        display: none;
    }

    .smallScreenDisclaimer {
        display: block;
        position: absolute;
        top: calc(50vh - calc(var(--height)/2));
        width: 100vw;
        text-align: center;
    }

    .smallScreenDisclaimer > img {
        height: var(--height);
    }

    a.ssNone {
        color: black;
        border-color: black;
        left: 10%;
    }
}

@media (max-width:700px) and (max-height: 400px) {

    .image {
        height: 150px;
    }

    #betDown, #betUp {
        display: none;
    }

    .balance{
        font-size: calc(5px + 2vw) !important;
        height: 50%;
        width: 27%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 !important;
    }

    #betSum{
        height: 100%;
        border: none;
    }


    form{
        height: 50%;
    }

    #betMax{
        height: 50%;
        font-size: 15px;
    }
    
    .ruleButton{
        height: 50%;
        font-size: 15px;
    }

    .play, .round2, .continue{
        height: 50%;
        font-size: 15px;
    }

    .autoResetGameDiv {
        flex-direction: row;
        padding: 0 5px 0 5px;
        height: 40px;
        font-size: 18px;
    }

    input#autoResetGame {
        height: 20px;
    }

    .sound{
        position: fixed;
        top: 1%;
        right: -46%;
    }

    .sound > img{
        width: 35px !important;
        height: 35px !important;
        padding: 5px;
    }

    .control{
        height: 80px;
        width: 100%;
        grid-template-columns: none;
        gap: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 0;
    }

    .back{
        height: 45px;
        width: 45px;
    }


}