.deck, .dealerHand, .playerHand {
    position: relative;
    width: 200px;
    height: 300px;
}

.card {
    position: absolute;
    width: 100px;
    height: 150px;
    transition: transform 1s ease-in-out;
}

@keyframes moveCard {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(500px, 300px);
    }
}


