* {
    margin: 0;
}

.handContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: calc(100vh - 120px);
    width: 100%;
    background-color: bisque;
    
}

.selected{
    background-color: blue !important;
}

.none{
    display: none;
}

.image {
    height: 250px;
    background-color: transparent;
}

.image:hover,
.image:active {
    background-color: red;
}

#card1 {
    padding: 5px;
    border-radius: 12px;
}

#card2 {
    padding: 5px;
    border-radius: 12px;
}

#card3 {
    padding: 5px;
    border-radius: 12px;   
}
#card4 {
    padding: 5px;
    border-radius: 12px;
}

#card5 {
    padding: 5px;
    border-radius: 12px;  
}

#showBalance{
  color: red;
}

.control{
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: rgb(197, 0, 0);
}

.betButtons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#betDown > img{
    width: 50px;
    height: 50px;
}

#betUp > img{
    width: 50px;
    height: 50px;
}

.sound > img{
    width: 50px;
    height: 50px;
}


#winningsDiv {
    position: absolute;
    top: 0;
    justify-content: center;
    z-index: 1;
}

#profitsText {
    color: black;
}

#winningsText {
    color: black;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}