.gradient-background {
    background: linear-gradient(300deg, #FFB000, #FFCF9D, #F5F5DC);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.hero{
    display:flex;
    justify-content: center;
}

@media (max-width:900px){

    .main-img{
        width: 700px;
    }

    .games{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

}

@media (max-width:1200px){
    .games{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

}

@media (min-width:1201px){
    .games{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

}

@media (max-width:991px){
    .Navbar{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Logo > h3{
        position: relative;
        left: 5%; 
    }

    .Logo > img{
        position: relative;
        left: 5%; 
    }
 
}


#Overskrift{
    font-family: Arvo;
}

.hero-text{
    font-weight: 600;
}

h3, button{
    margin-bottom: 0;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    
}

a{
    margin-bottom: 0;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

li{
    font-size: 110%;
}

.Logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
}

.Navbar{
    display: flex;
    justify-content: space-around;
}

.login-buttons{
    display: flex;
    justify-content: end;
}

.section {
    display: none;
}

.section.active {
    display: block;
}

.Feature{
    border-radius: 3%;
}

header{
    background-color: #0f3a27;
}

.bean{
    border: solid #FFB000 2px;
    border-radius: 50%;
}

footer{
    background-color:rgb(48, 48, 48) ;
}

.Feature-bg{
    background-color:#0f3a27;
}

.border-footer{
    border-bottom: solid #ffffff 2px;
}
