.gradient-background {
   background-color: #0e2f20;
   border-top: #ffffff solid 2px;
  }
  
.hero{
    display:flex;
    justify-content: center;
}

@media (max-width:900px){

    .main-img{
        width: 700px;
    }

    .games{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
}

@media (max-width:768px){

    .Logo > h3{
        font-size:4vw !important;
    }
}

@media (max-width:576px){

    .Logo > h3{
        font-size:5vw !important;
    }
}

@media (max-width:991px){


    .Navbar{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Logo > h3{
        position: relative;
        left: 5%; 
        font-size:3vw;
    }

    .Logo > img{
        position: relative;
        left: 5%; 
    }

}


@media (min-width:992px){
     
    .Logo > h3{
        font-size:2vw;
    }

}

@media (min-width:1001px) {


    img.mx-3.bean{
        margin: 0 !important;
        padding: 0 !important;
    }
}


@media (max-width:1200px){
    .games{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

}

@media (min-width:1201px){
    .games{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
}


#Overskrift{
    font-family: Arvo;
    color: #ffffff !important;
}

.hero-text{
    font-weight:500;
    color: #ffffff !important;
}

h3, button{
    margin-bottom: 0;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    
}

a{
    margin-bottom: 0;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

li{
    font-size: 110%;
}

.Logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}

.Navbar{
    display: flex;
    justify-content: space-around;
}

.login-buttons{
    display: flex;
    justify-content: end;
}

.section {
    display: none;
}

.section.active {
    display: block;
}


header{
    background-color: #0e2f20;
    position: sticky;
    top: 0;
    width: 100%;
    display: block;
    z-index: 9999;
}

.bean{
    border: solid #FFB000 2px;
    border-radius: 50%;
}

footer{
    background-color:rgb(48, 48, 48) ;
}

.border-footer{
    border-bottom: solid #ffffff 2px;
}

.carousel-bg{
    padding: 10px;
    background-color: #f6f6cf;
    border-radius: 8px;
}

.carousel-item > img{
    border-radius: 8px;
}

.games-heading-border{
    border-bottom: black solid;
}

.feature-heading-border{
    border-bottom: black solid;
}

.Feature{
    border-radius: 3%;
    background-color:#ffcb5b;
    border: black solid;
}

.Feature-bg{
    background-color:#FFCF9D;
}
.games-bg{
    background-color: #F5F5DC;
}