.gradient-background {
    background: linear-gradient(300deg, #FFB000, #FFCF9D, #F5F5DC);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.hero{
    display:flex;
    justify-content: center;
}

@media (max-width:900px){

    .main-img{
        width: 700px;
    }

    .games{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
}

@media (max-width:768px){

    .Logo > h3{
        font-size:4vw !important;
    }
}

@media (max-width:576px){

    .Logo > h3{
        font-size:5vw !important;
    }
}

@media (max-width:991px){

    .gradient-background{
        padding-top: 20vh;
    }

    .Navbar{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Logo > h3{
        position: relative;
        left: 5%; 
        font-size:3vw;
    }

    .Logo > img{
        position: relative;
        left: 5%; 
    }

}

@media (max-width:991px) and (max-width:992px){

    .gradient-background{
        padding-top: 20vh;
    }
}

@media (min-width:992px){
     
    .Logo > h3{
        font-size:2vw;
    }
    
    .gradient-background{
        padding-top:80px;
    }
}

@media (min-width:1001px) {


    img.mx-3.bean{
        margin: 0 !important;
        padding: 0 !important;
    }
}


@media (max-width:1200px){
    .games{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

}

@media (min-width:1201px){
    .games{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .gradient-background{
        padding-top: 100px;
    }

}


#Overskrift{
    font-family: Arvo;
}

.hero-text{
    font-weight: 600;
}

h3, button{
    margin-bottom: 0;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    
}

a{
    margin-bottom: 0;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

li{
    font-size: 110%;
}

.Logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}

.Navbar{
    display: flex;
    justify-content: space-around;
}

.login-buttons{
    display: flex;
    justify-content: end;
}

.section {
    display: none;
}

.section.active {
    display: block;
}

.Feature{
    border-radius: 3%;
}

header{
    background-color: #0f3a27;
    position: fixed;
    width: 100%;
    display: block;
    z-index: 9999;
}

.bean{
    border: solid #FFB000 2px;
    border-radius: 50%;
}

footer{
    background-color:rgb(48, 48, 48) ;
}

.Feature-bg{
    background-color:#0f3a27;
}

.border-footer{
    border-bottom: solid #ffffff 2px;
}

.About-us{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 50px;
}

.About-us img{
    width: 45%;
}

.about-person{
 display: grid;
 grid-template-columns: 2fr 3fr;
 grid-template-rows: 1fr;
}

.img-person > h3{
    margin-top: 2%;
}

.img-person{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.person-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.about-person button{
    background-color: #FFB000;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    padding-top: 1%;
    padding-bottom: 1%;
}