body {
    overflow-y: visible;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 0px; /* Hides the scrollbar by setting the width to 0 */
    background: transparent; /* Optionally makes the scrollbar background transparent */
}



.gradient-background {
    background: linear-gradient(300deg, #FFB000, #FFCF9D, #F5F5DC);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.hero-background {
   background-color: #0e2f20;
   border-top: #ffffff solid 2px;
  }
  
.hero{
    display:flex;
    justify-content: center;
}

@media (max-width:900px){

    .main-img{
        width: 700px;
    }

    .games{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
}

@media (max-width:500px){

    .About-us-heading > h1{
        font-weight: 500;
        font-size: 200%;
    }

}

@media (max-width:768px){

    .Logo > h3{
        font-size:4vw !important;
    }
}

@media (max-width:576px){

    .about img{
        width: 360px;
        height: 450px; 
    }

    .login-buttons{
        width: 320px !important;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .Logo > h3{
        font-size:5vw !important;
    }

    .About-us-heading > h1{
        font-weight: 600;
        font-size: 250%;
    }

    .about-container > h2{
        font-family: Crimson Pro;
        margin-top: 50px;
        font-size:180%;
    }

    .about{
        width:360px !important;
        border-radius: 20px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .about1{
        display: grid;
        grid-template-rows: 450px 2fr;
        background-color: #f6f6cf;
        color: #0e2f20;
    }
    
    .about2{
        display: grid;
        grid-template-rows: 450px 2fr;
        background-color: #0e2f20;
        color: #f6f6cf;
    }

    .Logo > h3{
        position: relative;
        left: 5%; 
        font-size:6vw !important;
    }

    .about{
        width: 80%;
        border-radius: 20px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .about1{
        display: grid;
        grid-template-rows: 400px 2fr;
        background-color: #f6f6cf;
        color: #0e2f20;
    }
    
    .about2{
        display: grid;
        grid-template-rows: 400px 2fr;
        background-color: #0e2f20;
        color: #f6f6cf;
    }

    .about-text{
        order: 1;
    }

}


@media (min-width:577px) and (max-width:992px){


    .about img{
        width: 520px;
        height: 650px; 
    }

    .about{
        width: 520px;
        border-radius: 20px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .about1{
        display: grid;
        grid-template-rows: 650px 2fr;
        background-color: #f6f6cf;
        color: #0e2f20;
    }
    
    .about2{
        display: grid;
        grid-template-rows: 650px 2fr;
        background-color: #0e2f20;
        color: #f6f6cf;
    }

    .about-text{
        order: 1;
    }

    .about-text p{
        margin: 0;
        padding-bottom: 10px;
        padding-top: 3px;
        font-weight: 600;
        font-size: 120%;
    }

    .About-us-heading > h1{
        font-weight: 600;
        font-size: 400%;
    }
    .about-container > h2{
        font-family: Crimson Pro;
        margin-top: 50px;
        font-size:250%;
    }

}

@media (max-width:991px){

    .nav-link{
        font-size: 20px;
    }

    .Navbar{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Logo > h3{
        position: relative;
        left: 5%; 
        font-size:3vw;
    }

    .Logo > img{
        position: relative;
        left: 5%; 
    }

    .login-buttons{
        width: 30%;
        display: flex;
        flex-direction: row;
        justify-content: center;
       }

       .Login{
        margin-right: 4%  !important;
        }
    
}


@media (min-width:992px){
     
    .Logo > h3{
        font-size:2vw;
    }

    .about img{
        width: 400px;
        height: 500px; 
    }

    img.mx-3.bean{
        margin: 0 !important;
        padding: 0 !important;
    }

    .about{
        width: 900px;
        border-radius: 20px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .about1{
        display: grid;
        grid-template-columns: 400px 500px;
        background-color: #f6f6cf;
        color: #0e2f20;
    }
    
    .about2{
        display: grid;
        grid-template-columns: 500px 400px;
        background-color: #0e2f20;
        color: #f6f6cf;
    }

    .about-text p{
        margin: 0;
        margin-bottom: 2%;
        font-weight: 600;
        font-size: 120%;
    }

    .About-us-heading > h1{
        font-weight: 600;
        font-size: 500%;
    }

    .about-container > h2{
        font-family: Crimson Pro;
        margin-top: 50px;
        font-size:300%;
    }

}



@media (max-width:1200px){
    .games{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .nav-link{
        font-size: 17px;
    }

}

@media (min-width:1201px){
    .games{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .nav-link{
        font-size: 20px;
    }
}


#Overskrift{
    font-family: Arvo;
    color: #ffffff !important;
}

.hero-text{
    font-weight:500;
    color: #ffffff !important;
}

h3, button{
    margin-bottom: 0;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    
}

a{
    margin-bottom: 0;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

li{
    font-size: 110%;
}

.Logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}

img.mx-3.bean{
    margin-right: 0 !important;
    padding-right: 0 !important;
}

.Navbar{
    display: flex;
    justify-content: space-around;
}

.login-buttons{
    display: flex;
    justify-content: end;
}

.section {
    display: none;
}

.section.active {
    display: block;
}

header{
    background-color: #0e2f20;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.bean{
    border: solid #FFB000 2px;
    border-radius: 50%;
}

footer{
    background-color: #0e2f20 ;
}

.border-footer{
    border-bottom: solid #ffffff 2px;
}

.carousel-bg{
    padding: 10px;
    background-color: #f6f6cf;
    border-radius: 8px;
}

.carousel-item > img{
    border-radius: 8px;
}

.games-heading-border{
    border-bottom: black solid;
}

.feature-heading-border{
    border-bottom: black solid;
}

.Feature{
    border-radius:3%;
    background-color: #f6f6cf;
    border: black solid;
}

.Feature .btn{
   background-color:#164932 !important;
   border: none;
}

.Feature h3{
    font-family:'Times New Roman', Times, serif;
    font-weight: 600;
}

.Feature-bg{
    background-color:#ffe0bf;
    color: black;
}
.games-bg{
    background-color: #f6f6cf;
}

.Login{
    padding-left: 6%;
    padding-right: 6%;
    padding-top:1.3%;
    padding-bottom: 1.3%;
    border: none;
    background-color:#f6f6cf ;
    border-radius: 200px;
    color: #0e2f20;
    margin-right: 2%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    transition: all 0.1s;
    }

.Signup{
    padding-left: 6%;
    padding-right: 6%;
    padding-top:1.3%;
    padding-bottom: 1.3%;
    background-color: #0e2f20;
    border:#f6f6cf solid 2.5px;
    border-radius: 200px;
    color: #f6f6cf;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    transition: all 0.1s;
   }

   .login-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
   }

.Login:hover{
    background-color: #5a7255;
    color: white;
    transition: all 0.1s;
}

.Signup:hover{
    background-color: #f6f6cf;
    color: #0e2f20;
    transition: all 0.1s;
}

.card-body{
    background-color:#0e2f20;
    color: white;
}

.card-body > .btn{
    background-color: #FFB000;
    border: none;
    color:#0e2f20;
}

.About-us-heading{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #0e2f20;
    color: white;
    padding-top: 6vh;
    padding-bottom: 8vh;
    font-family:Crimson Pro;
    border-top: #ffffff solid 2px;
}

.about img{
    border-radius: 20px; 
}

.about-text{
    margin-left: 5%;
    margin-right: 5%;
    line-height: 1.5;
}

.about-text h4{
    margin: 0;
    margin-bottom: 2%;
    font-weight: 600;
}

.about-text p{
    margin: 0;
    margin-bottom: 2%;
    font-weight: 600;
    font-size: 120%;
}

.about-text h3{
    margin-bottom: 1%;
    font-family: Crimson Pro;
    font-size: 300%;
}

.about-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-btn1{
    padding-left: 6%;
    padding-right: 6%;
    padding-top:1.3%;
    padding-bottom: 1.3%;
    margin-bottom: 20px;
    background-color: #f6f6cf;
    border: #0e2f20 solid 2.5px;
    border-radius: 200px;
    color: #0e2f20;
    font-family: #dc143c Pro;
    font-weight: 600;
    transition: all 0.1s;
    bottom: 2%;
}

.about-btn2{
    padding-left: 6%;
    padding-right: 6%;
    padding-top:1.3%;
    padding-bottom: 1.3%;
    margin-bottom: 20px;
    background-color: #0e2f20;
    border:#f6f6cf solid 2.5px;
    border-radius: 200px;
    color: #f6f6cf;
    font-family:#dc143c Pro;
    font-weight: 600;
    transition: all 0.1s;
    bottom: 2%;
}

.Play-heading{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #0e2f20;
    color: white;
    padding-top: 6vh;
    padding-bottom: 8vh;
    font-family:Crimson Pro;
    border-top: #ffffff solid 2px;
}
.Play-heading > h1{
    font-weight: 600;
    font-size: 450%;
}

.PlayHeroBackground {
    background-color: #0e2f20;
    border-top: #ffffff solid 2px;
   }
   
 .PlayHeroThing{
     display:flex;
     justify-content: center;
 }
 
.row h5 {
    font-family: "Cinzel", serif;
    color: #FFC107;
}

.downloadSvg {
    height: 25px;
    width: 25px;
    margin-bottom: 2.5px;
}

.downloadBtn {
    display: flex;
    align-items: end;
    background-color: #f6f6cf;
    columns:#0e2f20 ;
}

.downloadBtn:hover {
    background-color: #5a7255;
    color: white;
    transition: all 0.1s;
}

.downloadBtn:active {
    background-color: #5a7255 !important;
    color: white !important;
    transition: all 0.1s;
}

.cinzel {
    font-family: "Cinzel", serif;
}
.margin20px {
    margin: 20px;
}

.gamesCatalog {
    width: 100%;
    height: 750px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: #f6f6cf;
}

.gamesCard {
    width: 300px;
    height: 600px;
    background-color: #0e2f20;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.gamesText > p{
    font-size: 15px;
}

.gamesText > h1{
    font-size: 20px;
}

.gamesCard > a{
    font-size: 10px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    align-self: center;
    margin-bottom: 10px;
    background-color: #ffc10f;
    color: black;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
}

.gamesCard > img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.gamesText {
    padding: 20px;
    color: white;
}