* {
    margin: 0px;
    padding: 0;
}

.none {
    display: none;
}

.cards {
    display: flex;
    height: calc(100vh - 100px);
    flex-direction: column;
}


.control {
    width: 100%;
    bottom: 0px;
    position: absolute;
    height: 100px;
    background-color:#B22222;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.control button {
    width: 100px;
    height: 50px;
}

#playerCards {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#dealerCards {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.image {
    height: 250px;
    background-color: transparent;
    transition: none;
    padding: 5px;
    border-radius: 12px;
}

.hands {
    background-color: rgb(53, 86, 62);
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    flex-direction: column;
}